  .footer,
  .footer__lista,
  .footer__item,
  .footer__enlace, .bi-twitter,.bi-instagram, .bi-facebook,.bi-geo-alt, .footer__p {
     text-align: center;
      text-decoration: none;
     color: aliceblue;
     font-family: 'Michroma', sans-serif;
     margin: 0;
     margin-right: 0;
      margin: 0;
      margin-right: 0;
      background-color: black;
      list-style: none;
      font-size: 0.6rem;
  }

  @media(min-width:1200px){
    .footer,
  .footer__lista,
  .footer__item,
  .footer__enlace, .bi-twitter,.bi-instagram, .bi-facebook,.bi-geo-alt, .footer__p {

    font-size: 0.8rem;
    padding: 5px;
  }

  }